**/.vs/
**/Library/
**/Logs/
**/obj/
**/ProjectSettings/
**/Temp/
**/UserSettings/
**/*.sln
**/.vsconfig
**/*.csproj
/.idea/
/3. 古迹探险-2023.10/Assets/Meshes/dwarf_hero.fbx
/3. 古迹探险-2023.10/Assets/Textures/MountainPeak_01_mesh_diff.psd
/3. 古迹探险-2023.10/Assets/Meshes/Vegetation/Low/all_bushes_diff.PSD
